<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Sign in | Poll Mania</title>

        <link th:href="@{/built/login.css}" type="text/css" rel="stylesheet" />
    </head>
    <body class="text-center">
        <form th:action="@{/login}" method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">
                Sign in
            </h1>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-info">
                You have been logged out.
            </div>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <p class="py-3">
                <a th:href="@{/registration}">No account? Register</a>
            </p>
        </form>

        <script th:src="@{/built/login.js}"></script>
    </body>
</html>